@font-face {
    font-display: swap;
    font-family: 'Corbby';
    font-style: normal;
    font-weight: 400;
    src: url('/static/welcomepage/fonts/Corbby.otf') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cygre-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('/static/welcomepage/fonts/Cygre-SemiBold.ttf') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cygre-Light';
    font-style: normal;
    font-weight: 300;
    src: url('/static/welcomepage/fonts/Cygre-Light.ttf') format('woff2');
}


.wrapper {
    width: 100%;
    max-width: 134rem;
    /* 65ch - удобоворимое кол-во символов на строке; */
    margin: 0 auto;
    padding: 0 1rem;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 68px;
}

:root {
    --color--1--:#FFFFFF;
    --color--2--:#232323;
    --color--3--:#26715D;
    --color--4--:#A2E895;
    font-size: 62.5%;
}

body {
    color: var(--color--2--);
    font-size: 3.6rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
    background-color: var(--color--1--);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}



header img {
    display: block;
}

.logo {
    max-height: max-content;
    align-self: center;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation {
    padding: 0;
    flex-direction: row;
}

.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 52px;
    margin: 0;
    max-height: max-content;
    align-self: center;
    font-style: 2.4rem;
    font-weight: 600;
}

.navigation__item{
    font-size: 2.4rem;
    font-weight: 600;
    color:var(--color--2--);
    font-family: 'Cygre-SemiBold';
}

.navigation__item:hover{
    color:var(--color--3--);
}

.btns{
    padding: 0;
    gap: 28px;
    margin: 0;
    max-height: max-content;
    align-self: center;
    font-size: 2.4rem;
    font-weight: 300;
    color:var(--color--2--);
}
.logos{
    padding: 0;
    gap: 112px;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.login{
    color:var(--color--3--);
    border-radius: 84px;
    border-color: var(--color--4--);
    background-color: var(--color--4--);
    padding: 2px 20px;
    font-family: 'Cygre-Light';
}

.registration{
    color:var(--color--2--);
    font-family: 'Cygre-Light';
}

.mapspage__h{
    font-family: 'Cygre-Light';
    font-weight: 300;
    font-size: 3.6rem;
}

.mapspage__span{
    color:var(--color--1--);
    border-radius: 10px;
    border-color: var(--color--3--);
    background-color: var(--color--3--);
    margin: 0;
    padding: 0px 10px;
    width: max-content;
    font-family: 'Cygre-Light';
}

.card--m{
    background-color: var(--color--4--);
    width: 566px;
    height: 477px;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right:25px;
}

.card__h{
    margin-top: 15px;
    margin-bottom:15px;
    
    font-weight: 600;
    font-size: 4.8rem;
    color:var(--color--3--);
    font-family: 'Cygre-SemiBold';
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    
}

.lock{
    width:83px;
    height: 100px;
    margin:62px auto;
    margin-bottom: 14px;
}

.card__p{
    font-family: 'Cygre-Light';
    font-weight: 300;
    font-size: 1.6rem;
    color:var(--color--3--);
    margin:0px auto;
    margin-bottom: 65px;
    text-align: center;
}

.card__link {
    color:var(--color--1--);
    font-family: 'Cygre-Light';
    font-weight: 300;
    font-size: 2.4rem;
    border-radius: 84px;
    border-color: var(--color--3--);
    background-color: var(--color--3--);
    padding: 2px 20px;

}

.card__link:hover {
background-color: var(--color--2--);
}

.content{
display: block;
max-width: max-content;
padding:0px 20px;
margin: 0px auto;
margin-bottom:50px;
}

.mapspage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}




.accordion-button{
    font-size: 3rem !important;
    font-family: 'Cygre-Light'!important;
    background-color: var(--color--1--);
    color: var(--color--2--)!important;
}

.accordion-button:not(.collapsed){
    background-color: var(--color--4--);
}

.accordion-button:hover{
    color: var(--color--3--)!important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--color--1--)!important;
    outline: 0;
    box-shadow: var(--color--1--)!important;
}

.accordion-body{
    font-size: 2.4rem !important;
    font-family: 'Cygre-Light'!important;
    color: var(--color--2--)!important;
}

.task-cost{
    color: var(--color--2--);
    border-radius: 10px;
    border-color: var(--color--4--);
    background-color: var(--color--4--);
    margin: 0 0 0 auto;
    padding: 0px 10px;
    font-family: 'Cygre-Light';
    max-width: max-content;
    font-size: 2.4rem !important;
}