@font-face {
    font-display: swap;
    font-family: 'Corbby';
    font-style: normal;
    font-weight: 400;
    src: url('/static/welcomepage/fonts/Corbby.otf') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cygre-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('/static/welcomepage/fonts/Cygre-SemiBold.ttf') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cygre-Light';
    font-style: normal;
    font-weight: 300;
    src: url('/static/welcomepage/fonts/Cygre-Light.ttf') format('woff2');
}


.wrapper {
    width: 100%;
    max-width: 134rem;
    /* 65ch - удобоворимое кол-во символов на строке; */
    margin: 0 auto;
    padding: 0 1rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 68px;
}

:root {
    --color--1--:#FFFFFF;
    --color--2--:#232323;
    --color--3--:#26715D;
    --color--4--:#A2E895;
    font-size: 62.5%;
    Letter-spacing: 0.5549px;
}

body {
    color: var(--color--2--);
    font-size: 3.6rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
    background-color: var(--color--1--);
    display: flex;
    flex-direction: column;
    font-family: 'Cygre-Light';
}

a {
    text-decoration: none;
}

.btns {
    padding: 0;
    gap: 28px;
    margin: 0;
    max-height: max-content;
    align-self: center;
    font-size: 2.4rem;
    font-weight: 300;
    color:var(--color--2--);
}
.logos {
    padding: 0;
    gap: 112px;
    margin: 0;
    display: flex;
    flex-direction: row;
}
 
.login {
    color:var(--color--3--);
    border-radius: 84px;
    border-color: var(--color--4--);
    background-color: var(--color--4--);
    padding: 2px 20px;
    font-family: 'Cygre-Light';
}

.registration {
    color:var(--color--2--);
    font-family: 'Cygre-Light';
}

.mapspage__h {
    font-family: 'Cygre-Light';
    font-weight: 300;
    font-size: 3.6rem;
}

.mapspage__span {
    color:var(--color--1--);
    border-radius: 10px;
    border-color: var(--color--3--);
    background-color: var(--color--3--);
    margin: 0;
    padding: 0px 10px;
    width: max-content;
    font-family: 'Cygre-Light';
}

.card--m {
    background-color: var(--color--4--);
    width: 566px;
    height: 477px;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right:25px;
}

.card__h {
    margin-top: 15px;
    margin-bottom:15px;
    font-size: 4.8rem;
    color:var(--color--3--);
    font-family: 'Cygre-SemiBold';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.lock {
    width: 8.3rem;
    height: 10rem;
}

.mapspage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.accordion-button{
    font-size: 2.4rem !important;
    font-family: 'Cygre-Light' !important;
    background-color: var(--color--1--);
    color: var(--color--2--)!important;
    transition: 0.5s;
}

.accordion-button:not(.collapsed){
    background-color: var(--color--4--);
}

.accordion-button:hover{
    background-color: var(--color--4--)!important;
    color: var(--color--3--)!important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--color--1--)!important;
    outline: 0;
    box-shadow: var(--color--1--)!important;
    color: var(--color--3--)!important;
}

.accordion-body {
    font-size: 1.6rem !important;
    font-family: 'Cygre-Light'!important;
    color: var(--color--2--)!important;
    padding: 0;
    margin-bottom: 2.5rem;
}

.task-cost{
    color: var(--color--3--);
    /*border-radius: 2.3rem;
    border-color: var(--color--4--);
    background-color: var(--color--4--);
    padding: 0.2rem 2rem;*/
    font-family: 'Cygre-SemiBold';
    max-width: max-content;
    font-size: 2.4rem !important;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    line-height: 3.9rem;
    padding-left: 1.25rem;
}

.group{
    display: flex;
    flex-direction: row;
}

.zadania{
    flex-grow: 1;
}

.cost{
    display: flex;
    justify-content: space-between;
}

.contents{
    padding: 1.25rem;
}

.map {
    width: 75.7rem;
    height: 60.7rem;
    margin-right: 5rem;
}

.map-bl {
    width: 75.7rem;
    height: 60.5rem;
    background-color: var(--color--4--);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    margin-right: 5rem;
    border-radius: 4rem;
}

.balanse{
    text-align: center;
    font-size: 4.8rem;
    color:var(--color--3--);
    font-family: 'Cygre-SemiBold';
    line-height: 100%;
}

.card__p {
    font-family: 'Cygre-Light';
    font-size: 1.6rem;
    color:var(--color--3--);
    text-align: center;
    line-height: 110%;
    margin: 0;
}

.card__link {
    color:var(--color--1--);
    font-family: 'Cygre-Light';
    font-size: 2.4rem;
    border-radius: 2.3rem;
    background-color: var(--color--3--);
    display: block;
    padding: 0.5rem 2.5rem;
    transition: 0.5s;

}

.card__link:hover {
    background-color: var(--color--1--);
    color: var(--color--3--);
}

.gr-bl {
    display: flex;
    flex-direction: row;
}

.legend {
    flex-grow: 1;
}

.fiss {
    font-size: 2.4rem;
    font-family: 'Cygre-Light';
    background-color: var(--color--1--);
    color: var(--color--2--);
    transition: 0.5s;
    cursor: pointer;
}

.fiss:hover {
    color: var(--color--3--);
    background-color: var(--color--4--);
}


.task-link {
    color: var(--color--2--);
    border-radius: 2.3rem;
    border-color: var(--color--1--);
    background-color: var(--color--1--);
    padding: 0.15rem 2rem;
    font-family: 'Cygre-SemiBold';
    max-width: max-content;
    font-size: 1.6rem !important;
    line-height: 3.6rem;
    transition: 0.5s;
}

.task-link:hover{
    background-color: var(--color--4--);
    color: var(--color--3--);
}

.accordion {
    border-radius: 4rem !important;
    font-size: 2.4rem;
}

.zadania h1, .legend h1{
    font-family: 'Cygre-SemiBold';
    line-height: 100%;
    margin-bottom: 5rem;
    font-size: 3.6rem;
}

.map-bl div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}