{% extends "welcomepage/wrapper.html" %}
{% block link %}
<link href="/static/welcomepage/css/stylestore.css" rel="stylesheet">
{% endblock link %}
{% block title %}
Магазин
{% endblock title %}
{% block content %}
<section class="wrapper">
    <div class="storepage">
        <div class="storepage__text">
            <h2 class="storepage__h">Отблагодарите<br><span class="storepage__span">себя</span> приятным<br><span class="storepage__span">подарком</span></h2>
            <div class="card">
                <p class="card__h">Баланс</p>
                <img src="/static/welcomepage/image/lock.svg" alt="" class="lock">
                <p class="card__p">войди, <br> чтобы увидеть</p>
                <div class="content"><a href="#" title="Авторизоваться" class="card__link">Войти</a></div>
            </div>
        </div>
        <div class="storepage__store">
            <article class="art art--1">
                <a href="#" class="price" title="Купить">30</a>
                <p class="title title--1">Футболка</p>
            </article>
            <article class="art art--1">
                <a href="#" class="price" title="Купить">25</a>
                <p class="title title--2">Футболка</p>
            </article>
            <article class="art art--1">
                <a href="#" class="price" title="Купить">40</a>
                <p class="title title--3">Футболка</p>
            </article>
            <article class="art art--1">
                <a href="#" class="price" title="Купить">50</a>
                <p class="title title--4">Футболка</p>
            </article>
        </div>
    </div>
</section>
{% endblock content %}