{% extends "wrapper.html" %}
{% load static %}
{% block link %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}
Начни сейчас!
{% endblock title %}
{% block content %}
<section class="wrapper">
    <div class="welcomepage">
        <div class="welcomepage__text">
            <h1 class="welcomepage__h">ECOSORTER</h1>
            <p class="welcomepage__p">твой наставник <br> в <span class="welcomepage__span">сортировке мусора</span></p>
            <p class="welcomepage__p--num">23 000+</p>
            <p class="welcomepage__p--numtext">пользователей</p>
        </div>
        <div class="card">
            {% if user.is_authenticated %}
            <p class="card__h">Выполняй <br> задания <br> прямо сейчас!</p>
            <p class="card__p">получай баллы</p>
            <div class="content"><a href="{% url 'store' %}" title="Магазин" class="card__link">Призы за баллы<img src="/media/image/arrow.svg" alt="arrow"></a></div>
            {% else %}
            <p class="card__h">Начни <br> сортировать <br> сейчас!</p>
            <p class="card__p">иначе завтра <br> не начнёшь</p>
            <div class="content"><a href="{% url 'register' %}" title="Присоединиться" class="card__link">Присоединиться<img src="/media/image/arrow.svg" alt="arrow"></a></div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}