{% extends "wrapper.html" %}
{% load static %}
{% block link %}
<link href="{% static 'css/stylelogin.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}
Авторизация
{% endblock title %}

{% block content %}
<section class='wrapper'>
    <form class="form-login" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="all-in-form">
                <legend>Вход</legend>
                <div class="same-in-form">
                    <label><span>Имя пользователя</span><input type='text' id="username" name='username' placeholder='Вероника'
                            required></label>
                    <label><span>Пароль</span><input type='password' id="password" name='password'
                            placeholder='GerVer123!'  required></label>
                </div>
                <div class="clicks">
                    <a href="{% url 'register' %}">Нет аккаунта?</a>
                    <button>Войти</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>
{% endblock content %}