{% extends "wrapper.html" %}
{% load static %}
{% block link %}
<link href="{% static 'css/stylemap.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}
Карта
{% endblock title %}
{% block content %}
<section class="wrapper">
    <!-- <div class="mapspage">
        <div class="mapspage__text">
            <h2 class="mapspage__h">Наша <span class="mapspage__span">карта</span><br>с точками<br><span class="mapspage__span">сдачи мусора</span></h2>
            <div class="card--m">
                <p class="card__h">Верхний вал</p>
                {% if user.is_authenticated %}
                <p class="card__h">{{user.username}}</p>
                {% else %}
                <img src="/media/image/lock.svg" alt="" class="lock">
                <p class="card__p">войди, <br> чтобы увидеть</p>
                <div class="content"><a href="{% url 'login' %}" title="Авторизоваться" class="card__link">Войти</a></div>
                {% endif %}
            </div>
        </div>
        <div class="mapspage__map">
            <img src="/media/image/map.svg" alt="" class="map">
        </div>
    </div> -->

  <!-- <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A71046aaae36b839d9849fdf260ca18d66d05700f709f3e237c2521c36907cec3&amp;source=constructor" width="500" height="500" frameborder="0"></iframe> -->
  {% if user.is_authenticated %}
  <div class="group">
    
    <div class="map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A71046aaae36b839d9849fdf260ca18d66d05700f709f3e237c2521c36907cec3&amp;width=500&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    
    

    <div class="zadania">
      <div class="accordion" id="accordionFlushExample">
        {% for task in tasks %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{task.number}}" aria-expanded="false" aria-controls="flush-collapseOne">
              {{task.name}}
            </button>
          </h2>
          <div id="flush-collapse{{task.number}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="contents">
              <div class="accordion-body">{{task.description}}</div>
              <div class="cost">
                <span class="task-cost">{{task.cost}}</span>
                <a class="task-cost" href="mailto:veronika@gerdzhikova.ru?&subject=%D0%AF%20%D0%B2%D1%8B%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D0%BB%28-%D0%B0%29%20%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%21&body=%D0%A3%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%D1%81%D0%B2%D0%BE%D0%B9%20%D0%BD%D0%B8%D0%BA%D0%BD%D0%B5%D0%B9%D0%BC%2C%20%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F%20%D0%B8%20%D0%BF%D1%80%D0%B8%D0%BA%D1%80%D0%B5%D0%BF%D0%B8%D1%82%D1%8C%20%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE-%2F%D1%84%D0%BE%D1%82%D0%BE-%20%D0%BF%D0%BE%D0%B4%D1%82%D0%B2%D0%B5%D1%80%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5.">Получить бонусы!</a>						
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
      </div>
    </div>
    

  </div>
  {% else %}

  <div class="gr-bl">

    <div class="map-bl">
      <img src="/media/image/lock.svg" alt="" class="lock">
      <p class="balanse">Карта</p>
      <p class="card__p">войди, <br> чтобы увидеть</p>
      <div class="content"><a href="{% url 'login' %}" title="Авторизоваться" class="card__link">Войти</a></div>
    </div>

    <div class="legend">
      <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item fiss" aria-current="true">{{task.name}}</li>
        {% endfor %}
      </ul>
    </div>

  </div>
  
  {% endif %}

  
  
</section>

{% endblock content %}