{% extends "wrapper.html" %}
{% load static %}
{% block link %}
<link href="{% static 'css/stylemap.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}
Карта
{% endblock title %}
{% block content %}
<section class="wrapper">
    <!-- <div class="mapspage">
        <div class="mapspage__text">
            <h2 class="mapspage__h">Наша <span class="mapspage__span">карта</span><br>с точками<br><span class="mapspage__span">сдачи мусора</span></h2>
            <div class="card--m">
                <p class="card__h">Верхний вал</p>
                {% if user.is_authenticated %}
                <p class="card__h">{{user.username}}</p>
                {% else %}
                <img src="/media/image/lock.svg" alt="" class="lock">
                <p class="card__p">войди, <br> чтобы увидеть</p>
                <div class="content"><a href="{% url 'login' %}" title="Авторизоваться" class="card__link">Войти</a></div>
                {% endif %}
            </div>
        </div>
        <div class="mapspage__map">
            <img src="/media/image/map.svg" alt="" class="map">
        </div>
    </div> -->

  <div class="accordion" id="accordionFlushExample">
    {% for task in tasks %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{task.number}}" aria-expanded="false" aria-controls="flush-collapseOne">
          {{task.name}}
        </button>
      </h2>
      <div id="flush-collapse{{task.number}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">{{task.description}}</div>
        <span class="task-cost">{{task.cost}}</span>
      </div>
    </div>
    {% endfor %} 
</section>

{% endblock content %}