{% extends "wrapper.html" %}
{% load static %}
{% block link %}
<link href="{% static 'css/styleprofile.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock link %}
{% block title %}
Авторизация
{% endblock title %}

{% block content %}
<section class='wrapper'>
    <div class="card">
        <div>
        <p class="user_name">Ничего себе,</p>
        <p class="user_name--name">{{ user.username }}</p>
        </div>
        <div class="user_data">
            <div class="user_data--info">
                <div class="user_data--info--email">
                    <p>{{ user.email }}</p>
                    <a href="#"><img class="user_data--info--email--img" src="/media/image/Edit.png" alt="Редактировать email"></a>
                </div>
                <div class="user_data--info--other">
                    <a href="#">Изменить имя</a>
                    <a href="#">Изменить пароль</a>
                </div>
                <a class="user_data--info--exit" href="{% url 'logout' %}">Выйти</a>
            </div>
        </div>
        <div class="user_balance">
            <div class="user_balance--info">
                <p class="user_balance--info--h1">Мо-ло-дец!</p>
                <p class="user_balance--info--h2">на твоём счету вот такая красота:</p>
                <div class="user_balance--info--coins">
                    <img class="user_balance--info--coins--img" src="/media/image/Unionlil.svg" alt="">
                    <p class="user_balance--info--coins--pass">{{user.balanse}}</p>
                </div>
                <a class="user_balance--info--buy" href="{% url 'store' %}">За покупками</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}