{% extends "wrapper.html" %}
{% load static %}
{% block link %}
<link href="{% static 'css/styleregister.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}
Регистрация
{% endblock title %}
{% block content %}
<section class='wrapper'>
    <form class="form-registr" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <legend>Регистрация</legend>

        {{form.as_p}}

        <div class="clicks">
            <a href="{% url 'login' %}">Э, у меня есть аккаунт</a>
            <button type='submit'>Зарегистрироваться</button>
        </div>
    </form>
</section>
{% endblock content %}