{% extends "wrapper.html" %}
{% load static %}
{% block link %}
<link href="{% static 'css/styleregister.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}
Регистрация
{% endblock title %}
{% block content %}
<section class='wrapper'>
    <form class="form-registr" action="{% url 'register' %}" method="post">
        {% csrf_token %}

    {{form.as_p}}

    <div class="clicks">
        <a href="{% url 'login' %}">Э, у меня есть аккаунт</a>
        <button type='submit'>Зарегистрироваться</button>
    </div>

        <!-- <fieldset>
            <div class="all-in-form">
                <legend>Регистрация</legend>
                <div class="same-in-form">
                    <label><span>Имя </span><input type='text' name='username' placeholder='Матвей' required></label>
                    <label><span>Email </span><input type='email' name='email' placeholder='matvei@veseloff.su'
                            required></label>
                    <label><span>Пароль </span><input type='password1' name='user-password'
                            placeholder='V98Dio1*8!'></label>
                    <label><span>Повторите пароль </span><input type='password2' name='user-password'
                            placeholder='V98Dio1*8!'></label>
                </div>
            </div>
            <div class="clicks">
                <a href="{% url 'login' %}">Э, у меня есть аккаунт</a>
                <button type='submit'>Зарегистрироваться</button>
            </div>
        </fieldset> -->
    </form>
</section>
{% endblock content %}